.button{
  padding: 10px ;
  background-color: rgb(38, 121, 137);
  color: white;
  font-weight: 400;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  min-width: 150px;
  width: auto;
  letter-spacing: .15em;
  border: rgb(38, 121, 137) solid 2px;
  display: block;
  transition:  .3s ;
  outline: none; /* 追加 */
  &:hover{
    color:  rgb(38, 121, 137);
    background-color:white;
    border: rgb(38, 121, 137) solid 2px;
  }
  &:focus{
    outline: none;
  }
}

.quizButton {
  width: 100%;
}