@media screen and (max-width: 768px) {
.Home_ttl{
      font-size: 7vw;
      letter-spacing: 0;
    }
}
.Home_ttl{
  margin-bottom: .5em;
}
.homeIcon{
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 2rem;
  border-radius: 50%;
  background: #ebebeb;
  filter: drop-shadow(2px 2px 3px #ccc);
  padding: 3%;
  animation: fuwafuwa 3s ease-in-out infinite alternate;
  transition: 1.5s ease-in-out;
}
@keyframes fuwafuwa {
  0% {
    transform:translate(0, 0) rotate(-7deg);
  }
  50% {
    transform:translate(0, -7px) rotate(0deg);
  }
  100% {
    transform:translate(0, 0) rotate(7deg);
  }
}
.quizNum{
  font-size: 1.3em;
font-weight: 500;
color: #2679898f;
}