.answerList{
  margin-top: 5vh;
  margin-bottom: 5vh;
  list-style: none;
  color: #fff;
  letter-spacing: .1em;
  > *{
    padding: 5%;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 10px;
    box-shadow: 2px 2px 7px #9caeb1;
  }
}
.judgement{
  margin-top: 1em;
  font-size: 1em;
  background: #fff;
  color: #d94683;
  font-weight: 600;
  width: fit-content;
  margin-left: auto;
  padding: 1% 2%;
  border-radius: 5px;
}
.correct{
  color: #267989;
  .judgement{
    color: #fff;
    background: #35b6cf;
    width: fit-content;
  }
}
.incorrect{
  background: #498c99;
}
.question{
  /* font-weight: 600; */
  font-size: 1.1rem;
  margin-bottom: 10px
}
.label{
  font-weight: 600;
  display: inline-block;
  min-width: 4em;
  text-align: center;
}