@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@layer base {
  body {
    @apply min-h-svh min-w-[320px] bg-gray-200 m-0 flex place-items-center text-gray-600 tracking-widest text-sm;
  }
  #root{
    @apply md:max-w-7xl max-md:min-w-[80%]  mx-auto p-8 text-center;
  }
  h1,h2,h3,h4{
    @apply font-semibold;
  }
  a{
    @apply no-underline;
  }
  .btn{
    @apply p-2.5 bg-cyan-500 border-2 border-cyan-500 text-white block mb-2.5 rounded-md min-w-40  w-full tracking-widest transition-colors duration-500 outline-none;
    &:hover{
    @apply text-cyan-500 bg-white;
    }
    &:focus{
      @apply outline-none;
    }
    &.quizButton{
      @apply w-[80svw] sm:w-[500px] md:w-[600px] mx-auto;
    }
  }
}

@keyframes fuwafuwa {
  0% {
    transform:translate(0, 0) rotate(-7deg);
  }
  50% {
    transform:translate(0, -7px) rotate(0deg);
  }
  100% {
    transform:translate(0, 0) rotate(7deg);
  }
}
@theme {
  --animate-fuwafuwa: fuwafuwa 3s ease-in-out infinite alternate;
}


@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@theme {
  --animate-shake: shake .15s  infinite;
}
